# Backend Environment Variables
SECRET_KEY=iaowd&twl9dnu%$(5(r97-gmcw&!4idlk^d@7e4al&+blu1^!7
DEBUG=True

# Database Configuration (PostgreSQL)
DB_NAME=mydb
DB_USER=user
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432

# CORS & Allowed Hosts (Optional/Production)
ALLOWED_HOSTS=localhost,127.0.0.1,api
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
